/* Global styles */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}



.dark-bg {
    background-color: #1F2937;
}

.hero-text {
    font-size: 48px;
    font-weight: 300;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color:#E5E7EB;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

.cta {
    background-color: #3882F6;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.quote-bg {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* END OF GLOBAL STYLES */ 
body {
    display: flex;
    flex-direction: column;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 16px;
}

.links a {
    color: white;
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 0;
}

.cta-button {
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    background-color: #3882F6;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.hero img {
    padding: 16px;
}

.hero-container {
    max-width: 400px;
    margin-right: 32px;
}

.random-info {
    padding: 32px;
}

.info-heading {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
}

.items {
    display: flex;
    padding: 32px;
    margin-top: 16px;
    justify-content: center;
}

.item-container {
    text-align: center;
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item {
    flex: 1 1 auto;
    width: 180px;
    height: 160px;
    border: #3882F6 3px solid;
    border-radius: 6px;
    align-self: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text {
    padding-top: 100px;
    padding-left: 36px;
    padding-right: 36px;
    max-width: 900px;
    font-size: 38px;
    font-weight: 300;

}

.quote-text p {
    font-weight: 900;
    font-size: 23px;
    text-align: right;

}

.cta-section {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.cta {
    display: flex;
    align-items: center;
    padding: 36px 120px;
    border-radius: 6px;
}

.cta-text {
margin-right: 120px;
color: white;
}

.cta-text h4{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.cta-text p {
    font-weight: 200;
    padding: 0px;
    margin: 0px;
}


.cta a {
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    padding: 6px 20px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 30px;
    color: white;
}